@model AnswerSphere.Models.Reponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option.OptionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepondantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepondantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepondantNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepondantNom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReponseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
